@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio, canvas, details, figcaption,
figure, footer, header, hgroup, mark, menu, meter, nav,
output, progress, section, summary, time, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

* {
  font-size: 13px;
  font-family: "Meiryo", "メイリオ", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "ＭＳ ゴシック", "Osaka－等幅", Osaka-mono, monospace;
  font-weight: normal;
  font-style: normal;
  color: #555;
  text-decoration: none;
}

html {
  overflow-y: scroll;
}

body {
  line-height: 1;
  word-break: break-all;
}

p {
  margin: 0 0 1em;
  line-height: 200%;
}

em,
address {
  font-style: normal;
}

strong {
  line-height: 200%;
  font-size: 154%;
  font-weight: bold;
  color: #a22316;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section, blockquote {
  display: block;
}

ul, li, dl, dt, dd {
  list-style-type: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

ins {
  text-decoration: underline;
}

del {
  text-decoration: line-through;
}

mark {
  display: inline;
  font-size: inherit;
  font-weight: inherit;
  background: #ff0;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

label {
  cursor: pointer;
}

input[type="text"],
input[type="password"],
textarea, select {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: text-bottom;
  border: 0;
}

input, select, a img {
  vertical-align: middle;
}

a {
  cursor: pointer;
  color: #2c8799;
  text-decoration: none;
  outline: 0;
}
a:hover, a:active {
  text-decoration: underline;
}

a.blank[target=_blank] {
  padding: 0 20px 0 0;
  position: relative;
  top: 0;
  left: 0;
}
a.blank[target=_blank]:before {
  content: "";
  width: 10px;
  height: 6px;
  position: absolute;
  top: 3px;
  right: 3px;
  border: 1px solid #f18f99;
  border-top: 3px solid #f18f99;
  background: rgba(255, 255, 255, 0.3);
}
a.blank[target=_blank]:after {
  content: "";
  width: 10px;
  height: 6px;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #cc1125;
  border-top: 3px solid #cc1125;
  background: rgba(255, 255, 255, 0.3);
}

::selection {
  color: #cb8484;
  background: #fed6d6;
}

::-moz-selection {
  color: #cb8484;
  background: #fed6d6;
}

:-moz-placeholder {
  color: #a9a9a9;
}

::-webkit-input-placeholder {
  color: #a9a9a9;
}

small {
  color: #f00;
}

ruby {
  display: inline-table;
  margin: 0;
  padding: 0;
  border: none;
  white-space: nowrap;
  text-indent: 0;
  vertical-align: text-bottom !important;
  text-decoration: none;
  text-align: center;
  line-height: 100%;
}

ruby rt,
a:link ruby rt,
a:visited ruby rt {
  display: table-header-group;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  font-size: 70%;
  line-height: 100%;
  text-decoration: none;
}

ruby rp {
  display: none;
}

@font-face {
  font-family: 'LeinBold';
  src: url("../font/LeinBold.eot");
  src: local("☺"), url("../font/LeinBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'maagkramp';
  src: url("../font/maagkramp.eot");
  src: local("☺"), url("../font/maagkramp.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas';
  src: url("../font/bebas.eot");
  src: local("☺"), url("../font/bebas.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'default-set';
  src: url("../font/default-set.eot");
  src: url("../font/default-set.eot?#iefix") format("embedded-opentype"), url("../font/default-set.svg#default-set") format("svg"), url("../font/default-set.woff") format("woff"), url("../font/default-set.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.icon_search-glass {
  background-image: url('../images/sprite-se3bbf14646.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 15px;
  background-position: left 0;
}

@-webkit-keyframes space {
  0% {
    background: url(../images/bg_space.jpg) 0 0 repeat;
  }

  100% {
    background: url(../images/bg_space.jpg) 1024px 1024px repeat;
  }
}

@-moz-keyframes space {
  0% {
    background: url(../images/bg_space.jpg) 0 0 repeat;
  }

  100% {
    background: url(../images/bg_space.jpg) 1024px 1024px repeat;
  }
}

@-webkit-keyframes anime1 {
  0% {
    color: #ef0000;
    text-shadow: 0 0 2px #ef0000, 0 5px 0 rgba(0, 0, 0, 0.6);
  }

  11% {
    color: #e88000;
    text-shadow: 0 0 2px #e88000, 0 5px 0 rgba(0, 0, 0, 0.6);
  }

  22% {
    color: #f0e000;
    text-shadow: 0 0 2px #f0e000, 0 5px 0 rgba(0, 0, 0, 0.6);
  }

  33% {
    color: #80e800;
    text-shadow: 0 0 2px #80e800, 0 5px 0 rgba(0, 0, 0, 0.6);
  }

  44% {
    color: #0fc010;
    text-shadow: 0 0 2px #0fc010, 0 5px 0 rgba(0, 0, 0, 0.6);
  }

  55% {
    color: #04a085;
    text-shadow: 0 0 2px #04a085, 0 5px 0 rgba(0, 0, 0, 0.6);
  }

  66% {
    color: #0059cc;
    text-shadow: 0 0 2px #0059cc, 0 5px 0 rgba(0, 0, 0, 0.6);
  }

  77% {
    color: #2000e0;
    text-shadow: 0 0 2px #2000e0, 0 5px 0 rgba(0, 0, 0, 0.6);
  }

  88% {
    color: #8000c8;
    text-shadow: 0 0 2px #8000c8, 0 5px 0 rgba(0, 0, 0, 0.6);
  }

  100% {
    color: #e000af;
    text-shadow: 0 0 2px #e000af, 0 5px 0 rgba(0, 0, 0, 0.6);
  }
}

@-moz-keyframes anime1 {
  0% {
    color: #ef0000;
    text-shadow: 0 0 2px #ef0000, 0 5px 0 rgba(0, 0, 0, 0.6);
  }

  11% {
    color: #e88000;
    text-shadow: 0 0 2px #e88000, 0 5px 0 rgba(0, 0, 0, 0.6);
  }

  22% {
    color: #f0e000;
    text-shadow: 0 0 2px #f0e000, 0 5px 0 rgba(0, 0, 0, 0.6);
  }

  33% {
    color: #80e800;
    text-shadow: 0 0 2px #80e800, 0 5px 0 rgba(0, 0, 0, 0.6);
  }

  44% {
    color: #0fc010;
    text-shadow: 0 0 2px #0fc010, 0 5px 0 rgba(0, 0, 0, 0.6);
  }

  55% {
    color: #04a085;
    text-shadow: 0 0 2px #04a085, 0 5px 0 rgba(0, 0, 0, 0.6);
  }

  66% {
    color: #0059cc;
    text-shadow: 0 0 2px #0059cc, 0 5px 0 rgba(0, 0, 0, 0.6);
  }

  77% {
    color: #2000e0;
    text-shadow: 0 0 2px #2000e0, 0 5px 0 rgba(0, 0, 0, 0.6);
  }

  88% {
    color: #8000c8;
    text-shadow: 0 0 2px #8000c8, 0 5px 0 rgba(0, 0, 0, 0.6);
  }

  100% {
    color: #e000af;
    text-shadow: 0 0 2px #e000af, 0 5px 0 rgba(0, 0, 0, 0.6);
  }
}

@-webkit-keyframes anime2 {
  0% {
    color: #fff;
    text-shadow: 0 0 2px white, 0 5px 0 rgba(0, 0, 0, 0.6);
  }

  100% {
    color: #000;
    text-shadow: 0 0 2px black, 0 5px 0 rgba(0, 0, 0, 0.6);
  }
}

@-moz-keyframes anime2 {
  0% {
    color: #fff;
    text-shadow: 0 0 2px white, 0 5px 0 rgba(0, 0, 0, 0.6);
  }

  100% {
    color: #000;
    text-shadow: 0 0 2px black, 0 5px 0 rgba(0, 0, 0, 0.6);
  }
}

blockquote {
  margin: 0 0 20px;
  padding: 30px 15px;
  line-height: 224%;
  color: #7387ca;
  font-family: Folk Bold;
  font-size: 147%;
  position: relative;
  top: 0;
  left: 0;
  border: 1px dashed #ccc;
  border-left: 5px solid #7387ca;
  background: #f9f9f9;
}
blockquote:before, blockquote:after {
  margin: 0;
  padding: 0;
  font-family: default-set;
  font-size: 193%;
  color: #ccc;
  position: absolute;
}
blockquote:before {
  content: "LquaAlt";
  top: 2px;
  left: 7px;
}
blockquote :after {
  content: "RquaAlt";
  bottom: 2px;
  right: 7px;
}

span.bold {
  font-weight: bold;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.txt-ind {
  padding: 0 10px;
}

.txt-fRight {
  float: right;
}

.txt-fLeft {
  float: left;
}

.fL-img {
  float: left;
  margin: 0 20px 20px 0;
  padding: 0;
}

.fR-img {
  float: right;
  margin: 0 0 20px 20px;
  padding: 0;
}

/*----------------------------------------------------------------------------------------------------


common


----------------------------------------------------------------------------------------------------*/
.wrapper {
  background: #eef1f8;
}

/*------------------------------------------------------------

header

------------------------------------------------------------*/
.site-header {
  margin: 0;
  padding: 0;
  height: 250px;
  position: relative;
  top: 0;
  left: 0;
  background: url(../images/bg_space.jpg) 0 0 repeat;
  -webkit-animation: space 50s linear infinite;
  -moz-animation: space 50s linear infinite;
}
.site-header * {
  text-decoration: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
}
.site-header h1 {
  margin: 0;
  padding: 40px 0 0;
  height: 162px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.site-header h1 a {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 980px;
  font-family: LeinBold;
  font-size: 623%;
  color: #fff;
  text-decoration: none;
  -webkit-animation: anime1 4s linear 0s infinite alternate;
  -moz-animation: anime1 4s linear 0s infinite alternate;
}
@media only screen and (max-width: 996px) {
  .site-header h1 a {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .site-header h1 a {
    font-size: 370%;
    word-break: normal;
  }
}
.site-header h1 a:hover {
  -webkit-animation: anime2 0.5s linear 0s infinite alternate;
  -moz-animation: anime2 0.5s linear 0s infinite alternate;
}

.global-nav {
  margin: 0 auto;
  padding: 0;
  width: 980px;
  text-align: right;
}
@media only screen and (max-width: 996px) {
  .global-nav {
    width: 100%;
  }
}
.global-nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.global-nav ul:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.global-nav li {
  display: inline;
  margin: 0;
  padding: 0;
}
.global-nav a {
  float: left;
  display: block;
  margin: 0;
  padding: 50px 15px 0;
  height: 88px;
  font-family: maagkramp;
  font-size: 154%;
  color: #fff;
  text-decoration: none;
  position: relative;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
@media only screen and (max-width: 767px) {
  .global-nav a {
    padding: 50px 10px 0;
  }
}
.global-nav a:before {
  opacity: 0;
  visibility: hidden;
  content: "";
  margin: 0 0 0 -5px;
  padding: 0;
  position: absolute;
  bottom: 30px;
  left: 50%;
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.global-nav a:hover {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#00FFFFFF', endColorstr='#80FFFFFF');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.5) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.5) 100%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.5) 100%);
}

/* .breadcrumb
----------------------------------------*/
.breadcrumb {
  width: 980px;
  margin: 0 auto;
  padding: 16px 0;
}
@media only screen and (max-width: 996px) {
  .breadcrumb {
    width: 100%;
  }
}
.breadcrumb li {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 767px) {
  .breadcrumb li {
    display: block;
  }
}
.breadcrumb li:after {
  display: inline-block;
  content: "\002d";
  margin: 0 10px;
}
@media only screen and (max-width: 767px) {
  .breadcrumb li:after {
    display: none;
    content: "";
    margin: 0;
  }
}
.breadcrumb li:first-child div a:before {
  content: "\68\6f\6d\65";
  line-height: 154%;
  font-family: default-set;
  font-size: 124%;
}
.breadcrumb li:last-child:after {
  content: "";
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 767px) {
  .breadcrumb li div a {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .breadcrumb li div a:before {
    content: "\002015";
    font-family: default-set;
  }
}
.breadcrumb div {
  display: inline;
}
.breadcrumb span {
  line-height: 139%;
  color: #2c8799;
}

/*------------------------------------------------------------

.content

------------------------------------------------------------*/
.content {
  display: table;
  margin: 0 auto 40px;
  padding: 0;
  width: 980px;
}
@media only screen and (max-width: 996px) {
  .content {
    display: block;
    width: 100%;
  }
}

/* .main-cont
----------------------------------------*/
.main-cont {
  display: table-cell;
  margin: 0;
  padding: 0 2.04082% 0 0;
  width: 71.42857%;
}
@media only screen and (max-width: 996px) {
  .main-cont {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }
}

.entry-article {
  margin: 0 0 40px;
  padding: 2.85714%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.entry-article header {
  margin: 0 0 20px;
  padding: 0 0 8px;
  position: relative;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 767px) {
  .entry-article header {
    margin-bottom: 10px;
  }
}
.entry-article header:before {
  content: "";
  margin: 0;
  padding: 0;
  width: 100%;
  height: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../images/bg_bias.gif) 0 0 repeat;
}
.entry-article h2 {
  margin: 0 0 6px;
  padding: 0;
  font-size: 170%;
  color: #2c8799;
}
.entry-article h2 a {
  margin: 0;
  padding: 0;
  line-height: 200%;
  line-height: 1;
}
.entry-article time {
  display: block;
  margin: 0 0 5px;
  padding: 0;
  font-size: 93%;
  color: #999;
}
.entry-article p:last-of-type {
  margin-bottom: 0;
}

.entry-cont {
  margin: 0 0 20px;
  padding: 0 0 0 30.3%;
  min-height: 180px;
  position: relative;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 767px) {
  .entry-cont {
    padding-left: 0;
  }
}
.entry-cont figure {
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 767px) {
  .entry-cont figure {
    margin-top: 10px;
    position: relative;
  }
}

.category {
  margin: 0 0 10px;
  padding: 0;
}
.category:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.category dt {
  float: left;
  margin: 0;
  padding: 0;
}
.category dt:before {
  content: "\74\61\67";
  margin: 0 5px 0 0;
  font-family: default-set;
  position: relative;
  top: 1px;
}
.category dt:after {
  content: "\00ff1a";
  margin: 0;
  padding: 0;
}
.category dd {
  float: left;
  margin: 1px 0 0;
  padding: 0;
}
.category dd:after {
  content: "\002c";
  margin: 0;
  padding: 0;
}
.category dd:last-child:after {
  content: "";
  margin: 0;
  padding: 0;
}
.category dd a {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.sns {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 21px;
  background: #f7f9fa;
}
.sns li {
  display: inline-block;
  margin: 0;
  padding: 0;
  min-height: 21px;
  line-height: 162%;
}
.sns li:nth-child(1) {
  margin-right: 5;
}
.sns li:nth-child(2) {
  margin-right: 25px;
}
.sns li:nth-child(3) {
  margin-right: 0;
}
.sns li:before, .sns li:after {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  border: none;
  background: none;
}

iframe.twitter-share-button {
  width: 105px !important;
}

/* .side-cont
----------------------------------------*/
.side-cont {
  display: table-cell;
  margin: 0;
  padding: 0;
  width: 26.53061%;
}
@media only screen and (max-width: 996px) {
  .side-cont {
    display: block;
    width: 94.28571%;
    padding: 0 2.85714%;
  }
}

.search {
  margin: 0 0 20px;
  padding: 0;
  width: 100%;
  height: 48px;
  position: relative;
  top: 0;
  left: 0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  border: 8px solid #d0dbe4;
  background: #ecf1f4;
  -webkit-box-shadow: 0 0 0 1px #b5c9d4 inset, 2px 2px 3px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 0 0 1px #b5c9d4 inset, 2px 2px 3px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 0 1px #b5c9d4 inset, 2px 2px 3px 0 rgba(0, 0, 0, 0.2) inset;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.search input[type=text] {
  margin: 0;
  padding: 1px 35px 0 10px;
  width: 100%;
  height: 30px;
  line-height: 231%;
  position: relative;
  top: 1px;
  left: 0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.search input[type=text]:focus {
  background: #fff;
  -webkit-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2) inset;
}
.search input[type=image] {
  margin: 0;
  padding: 0;
  width: 15px;
  height: 18px;
  position: absolute;
  top: 8px;
  right: 11px;
}

.side-nav {
  margin: 0;
  padding: 0;
}
.side-nav section {
  margin: 0 0 40px;
  padding: 0;
}
.side-nav section:nth-of-type(1) ul {
  margin: 0;
  padding: 0;
}
.side-nav section:nth-of-type(1) li {
  margin: 0;
  padding: 0;
}
.side-nav section:nth-of-type(1) a {
  display: block;
  margin: 0 0 3px;
  padding: 5px 10px;
  line-height: 147%;
  font-size: 93%;
  text-decoration: none;
  background: #ebe4de;
}
.side-nav section:nth-of-type(1) a:hover {
  color: #fff;
  background: #2c8799;
}
.side-nav section:nth-of-type(2) ul, .side-nav section:nth-of-type(3) ul {
  margin: 0;
  padding: 0 0 0 10px;
}
.side-nav section:nth-of-type(2) li, .side-nav section:nth-of-type(3) li {
  margin: 0;
  padding: 0;
}
.side-nav section:nth-of-type(2) li:last-child, .side-nav section:nth-of-type(3) li:last-child {
  margin-bottom: 0;
}
.side-nav section:nth-of-type(2) a, .side-nav section:nth-of-type(3) a {
  margin: 0;
  padding: 0;
  line-height: 147%;
  font-size: 93%;
}
.side-nav h2 {
  margin: 0 0 10px;
  padding: 0 0 10px;
  color: #2c8799;
  font-family: bebas;
  font-size: 154%;
  border-bottom: 1px solid #aaa;
}

/*------------------------------------------------------------

footer

------------------------------------------------------------*/
.site-footer {
  margin: 0;
  padding: 0;
  background: #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.footer-nav {
  margin: 0 auto;
  padding: 75px 0;
  width: 980px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .footer-nav {
    padding: 2.85714%;
    width: 94.28571%;
  }
}
.footer-nav ul {
  display: inline;
  margin: 0;
  padding: 0;
}
.footer-nav li {
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .footer-nav li {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    padding: 0 0 10px;
    width: 100%;
    text-align: center;
    border-bottom: 1px dashed #666;
  }
  .footer-nav li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}
.footer-nav a {
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: maagkramp;
  font-size: 154%;
  color: #fff;
  text-decoration: none;
}
.footer-nav a:hover {
  color: #2c8799;
}

.copyright {
  margin: 0;
  padding: 0;
  text-align: center;
}
.copyright small {
  margin: 0;
  padding: 0;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .copyright small {
    font-size: 62%;
  }
}

/*----------------------------------------------------------------------------------------------------


.page-nation


----------------------------------------------------------------------------------------------------*/
.page-nation {
  margin: 0;
  padding: 0;
}
.page-nation:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.page-nation ul {
  float: right;
  margin: 0 0 10px;
  padding: 0;
}
.page-nation ul:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.page-nation ul > li {
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
  font-family: Myriad-bold;
}
.page-nation ul > li:last-child {
  margin-right: 0;
}
.page-nation ul a {
  font-family: Myriad-bold;
}
.page-nation:last-child ul {
  margin-bottom: 0;
}
.page-nation .page-number {
  margin-right: 0;
}
.page-nation .total-count {
  padding: 0 5px;
  height: 24px;
  line-height: 185%;
  text-align: center;
}
.page-nation .prev-off,
.page-nation .next-off {
  float: left;
  width: 46px;
  height: 20px;
  line-height: 154%;
  color: #ddd;
  border: 2px solid #ddd;
  background: #fff;
}
.page-nation .prev-off {
  padding-left: 10px;
  width: 36px;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
}
.page-nation .prev-off:before {
  content: "";
  margin: -8px 0 0;
  padding: 0;
  width: 6px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #ddd;
  background: #f1f1f1;
}
.page-nation .prev-off:after {
  content: "";
  margin: -3px 0 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 3px;
  border-top: 3px solid transparent;
  border-right: 3px solid #fff;
  border-bottom: 3px solid transparent;
}
.page-nation .next-off {
  padding-right: 10px;
  width: 36px;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
}
.page-nation .next-off:before {
  content: "";
  margin: -8px 0 0;
  padding: 0;
  width: 6px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #ddd;
  background: #f1f1f1;
}
.page-nation .next-off:after {
  content: "";
  margin: -3px 0 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 3px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid #fff;
}
.page-nation .prev-on,
.page-nation .next-on {
  display: inline;
  margin: 0;
  padding: 0;
}
.page-nation .prev-on a,
.page-nation .next-on a {
  display: block;
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
  width: 36px;
  height: 20px;
  line-height: 154%;
  color: #000;
  text-decoration: none;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  border: 2px solid #ccc;
  background: #fff;
}
.page-nation .prev-on a:before,
.page-nation .next-on a:before {
  content: "";
  margin: -8px 0 0;
  padding: 0;
  width: 6px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #aaa;
  background: #d1d1d1;
}
.page-nation .prev-on a:hover,
.page-nation .next-on a:hover {
  color: #fff;
  border: 2px solid #3079ed;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4D90FE', endColorstr='#FF4787ED');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d90fe), color-stop(100%, #4787ed));
  background-image: -webkit-linear-gradient(top, #4d90fe 0%, #4787ed 100%);
  background-image: -moz-linear-gradient(top, #4d90fe 0%, #4787ed 100%);
  background-image: -o-linear-gradient(top, #4d90fe 0%, #4787ed 100%);
  background-image: linear-gradient(top, #4d90fe 0%, #4787ed 100%);
}
.page-nation .prev-on a:hover:before,
.page-nation .next-on a:hover:before {
  border: 1px solid #147aad;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF69CDFF', endColorstr='#FF197FB2');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #69cdff), color-stop(50%, #3da3d6), color-stop(100%, #197fb2));
  background-image: -webkit-linear-gradient(top, #69cdff 0%, #3da3d6 50%, #197fb2 100%);
  background-image: -moz-linear-gradient(top, #69cdff 0%, #3da3d6 50%, #197fb2 100%);
  background-image: -o-linear-gradient(top, #69cdff 0%, #3da3d6 50%, #197fb2 100%);
  background-image: linear-gradient(top, #69cdff 0%, #3da3d6 50%, #197fb2 100%);
}
.page-nation .prev-on a:after,
.page-nation .next-on a:after {
  content: "";
  margin: -3px 0 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 3px;
  border-top: 3px solid transparent;
  border-right: 3px solid #fff;
  border-bottom: 3px solid transparent;
}
.page-nation .prev-on a {
  padding-left: 10px;
}
.page-nation .next-on a {
  margin-right: 0;
  padding-right: 10px;
}
.page-nation .next-on a:before {
  right: 1px;
}
.page-nation .next-on a:after {
  right: 3px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid #fff;
}
.page-nation ol {
  float: left;
  margin: 0;
  padding: 0;
}
.page-nation ol > li {
  display: inline;
  margin: 0;
  padding: 0;
}
.page-nation ol > li a {
  display: block;
  float: left;
  margin: 0 5px 0 0;
  padding: 0 7px;
  height: 20px;
  line-height: 154%;
  text-align: center;
  text-decoration: none;
  color: #000;
  border: 2px solid #ccc;
  background: #fff;
}
.page-nation ol > li a:hover {
  color: #fff;
  border: 2px solid #3079ed;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4D90FE', endColorstr='#FF4787ED');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d90fe), color-stop(100%, #4787ed));
  background-image: -webkit-linear-gradient(top, #4d90fe 0%, #4787ed 100%);
  background-image: -moz-linear-gradient(top, #4d90fe 0%, #4787ed 100%);
  background-image: -o-linear-gradient(top, #4d90fe 0%, #4787ed 100%);
  background-image: linear-gradient(top, #4d90fe 0%, #4787ed 100%);
}
.page-nation .this-page {
  display: block;
  float: left;
  margin: 0 5px 0 0;
  padding: 0 7px;
  height: 20px;
  line-height: 154%;
  text-align: center;
  color: #fff;
  border: 2px solid #3079ed;
  background: #4b8df9;
}

/*----------------------------------------------------------------------------------------------------


entry


----------------------------------------------------------------------------------------------------*/
#article-intro {
  margin: 0 0 26px;
  padding: 0;
}
#article-intro:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#article-intro figure {
  float: left;
  margin: 0 20px 15px 0;
  padding: 0;
  width: 180px;
  height: 180px;
}
@media only screen and (max-width: 767px) {
  #article-intro figure {
    float: none;
    margin: 0 0 10px;
    width: auto;
    height: auto;
  }
}

#entry .main-cont article > p {
  margin-bottom: 28px;
}
#entry .main-cont > section {
  margin: 0 0 40px;
  padding: 0;
}
#entry .main-cont > section > h2 {
  margin: 0 0 10px;
  padding: 0 0 10px;
  color: #2c8799;
  font-family: bebas;
  font-size: 154%;
  border-bottom: 1px solid #aaa;
}

@media only screen and (max-width: 996px) {
  #related-articles {
    padding: 0 2.85714% !important;
  }
}
#related-articles ul {
  margin: 0;
  padding: 0 0 0 10px;
}
#related-articles li {
  margin: 0;
  padding: 0;
}
#related-articles li:before {
  content: "\63\6c\69\70";
  margin: 0 5px 0 0;
  font-family: default-set;
}
#related-articles li a {
  margin: 0;
  padding: 0;
  line-height: 208%;
}

.comment-article {
  margin: 0 0 20px;
  padding-left: 100px;
}

.comment-wrap {
  padding: 20px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.comment-wrap:before {
  content: "";
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  left: -14px;
  border-top: 10px solid #fff;
  border-right: 7.5px solid #fff;
  border-bottom: 10px solid transparent;
  border-left: 7.5px solid transparent;
}
.comment-wrap p {
  line-height: 170%;
  font-size: 93%;
}
.comment-wrap footer {
  margin: 0;
  padding: 0;
}
.comment-wrap footer ul {
  margin: 0;
  padding: 0;
}
.comment-wrap footer ul:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.comment-wrap footer li {
  float: left;
  margin: 0 21px 0 0;
  padding: 0;
  height: 13px;
  line-height: 100%;
  font-size: 93%;
  color: #aaa;
  position: relative;
  top: 0;
  left: 0;
}
.comment-wrap footer li:before {
  content: "";
  margin: 0;
  padding: 0;
  width: 1px;
  height: 11px;
  position: absolute;
  top: 1px;
  right: -11px;
  background: #d7d7d7;
}
.comment-wrap footer li:last-child:before {
  content: "";
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  background: none;
}
.comment-wrap footer a {
  margin: 0;
  padding: 0;
  height: 13px;
  line-height: 100%;
  font-size: 93%;
}
.comment-wrap footer form {
  margin: 0;
  padding: 0;
}

.comment-btn input[type=submit] {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #2c8799;
  font-size: 85%;
  border: none;
  background: none;
}
.comment-btn input[type=submit]:hover {
  text-decoration: underline;
}

.comment-header {
  margin: 0;
  padding: 0;
}
.comment-header h3 {
  margin: 0 0 5px;
  padding: 0;
  font-size: 108%;
  font-weight: bold;
  color: #4695a6;
}
.comment-header figure {
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: -100px;
  border: 5px solid #d0dbe4;
}

.reply-article {
  margin: 20px 0 0;
  padding: 0 0 0 90px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.reply-wrap h4 {
  margin: 0 0 5px;
  padding: 0;
  font-size: 108%;
  font-weight: bold;
  color: #4695a6;
}
.reply-wrap figure {
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid #d0dbe4;
}

.reply-header {
  margin: 0;
  padding: 0;
}

.reply-body {
  margin: 0;
  padding: 0;
}

#comment-form {
  margin: 0;
  padding: 20px;
  background: #fff;
}
#comment-form:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#comment-form dl {
  margin: 0;
  padding: 0;
}
#comment-form dl:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#comment-form dl input {
  margin: 0;
  padding: 1px 3px;
  width: 300px;
  line-height: 1;
  border: 1px solid #aaa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#comment-form dl textarea {
  overflow-y: scroll;
  margin: 0;
  padding: 3px;
  width: 420px;
  height: 150px;
  line-height: 147%;
  resize: none;
  border: 1px solid #aaa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#comment-form dl input:focus,
#comment-form dl textarea:focus {
  border: 1px solid #2c8799;
  -webkit-box-shadow: 0 0 3px 0 #2c8799;
  -moz-box-shadow: 0 0 3px 0 #2c8799;
  box-shadow: 0 0 3px 0 #2c8799;
}
#comment-form dt {
  clear: both;
  float: left;
  margin: 0 0 20px;
  padding: 0;
  width: 220px;
  height: 24px;
  line-height: 185%;
}
#comment-form dd {
  float: right;
  margin: 0 0 20px;
  padding: 0;
  width: 420px;
  height: 24px;
}
#comment-form dd:nth-of-type(4), #comment-form dd:nth-of-type(5) {
  height: auto;
}
#comment-form dd:nth-of-type(7) img {
  margin: 0 0 5px;
  padding: 0;
}
#comment-form .error-txt {
  position: relative;
  top: 0;
  left: 0;
}
#comment-form .error-txt:before {
  display: inline-block;
  content: "\00203b\005165\00529b\005185\005bb9\00304c\004e00\0081f4\003057\00307e\00305b\003093\003067\003057\00305f";
  margin: 0;
  padding: 3px;
  color: #fff;
  font-size: 108%;
  font-weight: bold;
  position: absolute;
  bottom: -20px;
  left: 0;
  background: #900;
}
#comment-form .error-txt input {
  border: 1px solid #900;
}
#comment-form ul {
  margin: 0;
  padding: 0;
}
#comment-form ul:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#comment-form ul li {
  float: left;
  margin: 0 17px 0 0;
  padding: 0;
  width: 70px;
}
#comment-form ul li:last-child {
  margin-right: 0;
}
#comment-form ul label {
  display: block;
  margin: 0 0 5px;
  padding: 0;
  width: 70px;
  height: 70px;
  border: 5px solid #d0dbe4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#comment-form ul label:hover {
  border: 5px solid #9ab0c1;
}
#comment-form ul input {
  margin: 0;
  padding: 0;
  width: 70px;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
}
#comment-form p {
  margin: 0;
  padding: 0;
  text-align: right;
}
#comment-form p input[type=submit] {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 3px 5px;
  height: 30px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #69c;
  background: #69c;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#comment-form p input[type=submit]:hover {
  background: #79acdf;
  -webkit-box-shadow: 0 0 3px white inset;
  -moz-box-shadow: 0 0 3px white inset;
  box-shadow: 0 0 3px white inset;
}
#comment-form p input[type=submit]:active {
  padding-top: 4px;
  padding-bottom: 2px;
  color: #e0ebf5;
  border: 1px solid #334c66;
  background: #69c;
  -webkit-box-shadow: 0 0 2px #3a6da0 inset;
  -moz-box-shadow: 0 0 2px #3a6da0 inset;
  box-shadow: 0 0 2px #3a6da0 inset;
}

.comment-submit input {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

/*----------------------------------------------------------------------------------------------------


about


----------------------------------------------------------------------------------------------------*/
/*
#about {
	
	#main-cont {
		
		> section {
			margin: 0 0 20px;
			padding: 20px;
			background: #fff;
			@include clearfix;
			
			> h2 {
				margin: 0 0 20px;
				padding: 0 0 20px;
				font-size: $px22;
				color: #2c8799;
				position: relative;
				top: 0;
				left: 0;
				
				&:before {
					content: "";
					margin: 0;
					padding: 0;
					width: 660px;
					height: 8px;
					position: absolute;
					bottom: 0;
					left: 0;
					background: url(../images/bg_bias.gif) 0 0 repeat;
				}
			}
			
			> p {
				
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}*/
#intro-deushi {
  margin: 0 0 20px;
  padding: 20px;
  width: 660px;
  height: 408px;
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#intro-deushi dl {
  margin: 0;
  padding: 19px;
  width: 280px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#intro-deushi dl:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#intro-deushi dl * {
  color: #333;
}
#intro-deushi dt {
  clear: both;
  float: left;
  margin: 0 0 10px;
  padding: 0;
  width: 60px;
}
#intro-deushi dt:last-of-type {
  margin-bottom: 0;
}
#intro-deushi dd {
  float: right;
  margin: 0 0 10px;
  padding: 0;
  width: 160px;
}
#intro-deushi dd:last-of-type {
  margin-bottom: 0;
}
#intro-deushi ul {
  margin: 0;
  padding: 0;
}
#intro-deushi li {
  margin: 0 0 5px;
  padding: 0;
}
#intro-deushi li:last-child {
  margin-bottom: 0;
}

#sns-deushi,
#career-deushi,
#environment-deushi {
  margin: 0;
  padding: 0;
}
#sns-deushi dt,
#career-deushi dt,
#environment-deushi dt {
  margin: 0 0 5px;
  padding: 0;
}
#sns-deushi dd,
#career-deushi dd,
#environment-deushi dd {
  margin: 0 0 20px;
  padding: 0 0 0 10px;
}
