@charset "utf-8";
@import "compass";
@import "mixin";

$sprite-sprite-dimensions: true;
$sprites:sprite-map("../images/sprite/*.png");
/**/
$sprites-img:sprite-url($sprites);
$xpos: left;
@mixin sprite-background($name, $sprites, $sprites-img) {
	background-image: $sprites-img;
	background-repeat: no-repeat;
	display: inline-block;
	height: image-height(sprite-file($sprites, $name));
	width: image-width(sprite-file($sprites, $name));
	$ypos: round(nth(sprite-position($sprites, $name),2));
	background-position: $xpos $ypos;
}

.icon_search-glass {
	@include sprite-background(icon_search-glass, $sprites, $sprites-img);
}

$small-size: 480px;
$middle-size: 768px;
$large-size: 980px;

$small: "screen and (max-width:767px)";
$middle: "screen and (min-width:768px) and (max-width:979px)";
$large: "screen and (min-width:980px) and (max-width:1024px)";


/*----------------------------------------------------------------------------------------------------


@font-face


----------------------------------------------------------------------------------------------------*/
@font-face {
	font-family: 'LeinBold';
	src: url('../font/LeinBold.eot');
	src: local('☺'), url('../font/LeinBold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'maagkramp';
	src: url('../font/maagkramp.eot');
	src: local('☺'), url('../font/maagkramp.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bebas';
	src: url('../font/bebas.eot');
	src: local('☺'), url('../font/bebas.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'default-set';
	src:url('../font/default-set.eot');
	src:url('../font/default-set.eot?#iefix') format('embedded-opentype'),
		url('../font/default-set.svg#default-set') format('svg'),
		url('../font/default-set.woff') format('woff'),
		url('../font/default-set.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

//
//■default-set
//
//home
//\68\6f\6d\65
//
//tag
//\74\61\67
//
//load
//\6c\6f\61\64
//
//LquaAlt
//\71\75\61\31
//
//RquaAlt
//\71\75\61\32
//
//Lqua
//\71\75\61\33
//
//Rqua
//\71\75\61\34
//
//check
//\63\68\65\63\6b
//
//punish
//\70\75\6e\69\73\68
//
//clip
//\63\6c\69\70
//


/*----------------------------------------------------------------------------------------------------


default reset


----------------------------------------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: "Meiryo", "メイリオ", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "ＭＳ ゴシック", "Osaka－等幅", Osaka-mono, monospace;
	font-weight: normal;
	font-style: normal;
	color: #555;
	text-decoration: none;
	border: 0;
	word-wrap: break-word;
}

body,div,h1,h2,h3,h4,h5,h6,div,p,ul,ol,li,dl,dt,dd,form,input,textarea,pre,fieldset,blockquote,table,thead,tbody,tfoot,caption,th,td,
section,article,aside,nav,menu,canvas,details,figure,figcaption,footer,header,hgroup,summary { margin: 0; padding: 0; line-height: 1; }
p { margin: 0 0 1em 0; line-height: 26px; }
ul, li, dl, dt, dd { list-style-type: none; line-height: 1; }

a          { cursor: pointer; color: #2c8799; text-decoration: none; outline: 0; }
a:visited  { color: #2c8799; text-decoration: none; outline: 0; }
a:hover    { color: #2c8799; text-decoration: underline; outline: 0; }
a:active   { color: #2c8799; text-decoration: underline; outline: 0; }

a.blank[target=_blank] {
	margin: 0;
	padding: 0 20px 0 0;
	position: relative;
	top: 0;
	left: 0;

	&:before {
		content: "";
		margin: 0;
		padding: 0;
		width: 10px;
		height: 6px;
		position: absolute;
		top: 3px;
		right: 3px;
		border: 1px solid #f18f99;
		border-top: 3px solid #f18f99;
		background: rgba(255, 255, 255, 0.3);
	}

	&:after {
		content: "";
		margin: 0;
		padding: 0;
		width: 10px;
		height: 6px;
		position: absolute;
		top: 0;
		right: 0;
		border: 1px solid #cc1125;
		border-top: 3px solid #cc1125;
		background: rgba(255, 255, 255, 0.3);
	}
}

em, address { font-style: normal; }
strong      { line-height: 26px; font-size: 20px; font-weight: bold; color: #a22316; }
del         { text-decoration: line-through; }
abbr        { cursor: help; border-bottom: 1px dotted #999; }
img         { max-width: 100%; height: auto; vertical-align: text-bottom; border: 0; }
section,article,aside,nav,menu,canvas,details,figure,figcaption,footer,header,hgroup,summary { display: block; }

mark { display: inline; font-size: inherit; font-weight: inherit; background: #ff0; }

label { cursor: pointer; }

blockquote {
	margin: 0 0 20px;
	padding: 30px 15px;
	line-height: 29px;
	color: #7387ca;
	font-family: Folk Bold;
	font-size: 19px;
	position: relative;
	top: 0;
	left: 0;
	border: 1px dashed #ccc;
	border-left: 5px solid #7387ca;
	background: #f9f9f9;

	&:before,
	&:after {
		margin: 0;
		padding: 0;
		font-family: default-set;
		font-size: 25px;
		color: #ccc;
		position: absolute;
	}

	&:before {
		content: "LquaAlt";
		top: 2px;
		left: 7px;
	}

	:after {
		content: "RquaAlt";
		bottom: 2px;
		right: 7px;
	}
}

::selection      { color: #fff; background: #900; }
::-moz-selection { color: #fff; background: #900; }
				
:-moz-placeholder           { color: #a9a9a9; }
::-webkit-input-placeholder { color: #a9a9a9; }

ruby {
	display: inline-table;
	margin: 0;
	padding: 0;
	border: none;
	white-space: nowrap;
	text-indent: 0;
	vertical-align: text-bottom !important;
	text-decoration: none;
	text-align: center;
	line-height: 100%;
}

ruby rt,
a:link ruby rt,
a:visited ruby rt {
	display: table-header-group;
	margin: 0;
	padding: 0;
	border: none;
	font: inherit;
	font-size: 70%;
	line-height: 100%;
	text-decoration: none;
}

ruby rp { display: none; }

span.bold { font-weight: bold; }

.txt-center { text-align: center; }
.txt-right  { text-align: right; }

.txt-ind    { padding: 0 10px; }
.txt-fRight { float: right; }
.txt-fLeft  { float: left; }

.fL-img { float: left; margin: 0 20px 20px 0; padding: 0; }
.fR-img { float: right; margin: 0 0 20px 20px; padding: 0; }

small { color: #f00; }

/*----------------------------------------------------------------------------------------------------


animation


----------------------------------------------------------------------------------------------------*/
@-webkit-keyframes space {
	0% { background: url(../images/bg_space.jpg) 0 0 repeat; }
	100% { background: url(../images/bg_space.jpg) 1024px 1024px repeat; }
}

@-moz-keyframes space {
	0% { background: url(../images/bg_space.jpg) 0 0 repeat; }
	100% { background: url(../images/bg_space.jpg) 1024px 1024px repeat; }
}

@-webkit-keyframes anime1 {
	0%   { color: #ef0000; text-shadow: 0 0 2px #ef0000, 0 5px 0 rgba(0, 0, 0, 0.6); }
	11%  { color: #e88000; text-shadow: 0 0 2px #e88000, 0 5px 0 rgba(0, 0, 0, 0.6); }
	22%  { color: #f0e000; text-shadow: 0 0 2px #f0e000, 0 5px 0 rgba(0, 0, 0, 0.6); }
	33%  { color: #80e800; text-shadow: 0 0 2px #80e800, 0 5px 0 rgba(0, 0, 0, 0.6); }
	44%  { color: #0fc010; text-shadow: 0 0 2px #0fc010, 0 5px 0 rgba(0, 0, 0, 0.6); }
	55%  { color: #04a085; text-shadow: 0 0 2px #04a085, 0 5px 0 rgba(0, 0, 0, 0.6); }
	66%  { color: #0059cc; text-shadow: 0 0 2px #0059cc, 0 5px 0 rgba(0, 0, 0, 0.6); }
	77%  { color: #2000e0; text-shadow: 0 0 2px #2000e0, 0 5px 0 rgba(0, 0, 0, 0.6); }
	88%  { color: #8000c8; text-shadow: 0 0 2px #8000c8, 0 5px 0 rgba(0, 0, 0, 0.6); }
	100% { color: #e000af; text-shadow: 0 0 2px #e000af, 0 5px 0 rgba(0, 0, 0, 0.6); }
}

@-moz-keyframes anime1 {
	0%   { color: #ef0000; text-shadow: 0 0 2px #ef0000, 0 5px 0 rgba(0, 0, 0, 0.6); }
	11%  { color: #e88000; text-shadow: 0 0 2px #e88000, 0 5px 0 rgba(0, 0, 0, 0.6); }
	22%  { color: #f0e000; text-shadow: 0 0 2px #f0e000, 0 5px 0 rgba(0, 0, 0, 0.6); }
	33%  { color: #80e800; text-shadow: 0 0 2px #80e800, 0 5px 0 rgba(0, 0, 0, 0.6); }
	44%  { color: #0fc010; text-shadow: 0 0 2px #0fc010, 0 5px 0 rgba(0, 0, 0, 0.6); }
	55%  { color: #04a085; text-shadow: 0 0 2px #04a085, 0 5px 0 rgba(0, 0, 0, 0.6); }
	66%  { color: #0059cc; text-shadow: 0 0 2px #0059cc, 0 5px 0 rgba(0, 0, 0, 0.6); }
	77%  { color: #2000e0; text-shadow: 0 0 2px #2000e0, 0 5px 0 rgba(0, 0, 0, 0.6); }
	88%  { color: #8000c8; text-shadow: 0 0 2px #8000c8, 0 5px 0 rgba(0, 0, 0, 0.6); }
	100% { color: #e000af; text-shadow: 0 0 2px #e000af, 0 5px 0 rgba(0, 0, 0, 0.6); }
}

@-webkit-keyframes anime2 {
	0%   { color: #fff; text-shadow: 0 0 2px #fff, 0 5px 0 rgba(0,0,0,0.6); }
	100% { color: #000; text-shadow: 0 0 2px #000, 0 5px 0 rgba(0,0,0,0.6); }
}

@-moz-keyframes anime2 {
	0%   { color: #fff; text-shadow: 0 0 2px #fff, 0 5px 0 rgba(0,0,0,0.6); }
	100% { color: #000; text-shadow: 0 0 2px #000, 0 5px 0 rgba(0,0,0,0.6); }
}

/*----------------------------------------------------------------------------------------------------


common


----------------------------------------------------------------------------------------------------*/
html     { margin: 0; padding: 0;	overflow-y: scroll; }
body     { margin: 0; padding: 0; word-break: break-all; }
.wrapper { margin: 0; padding: 0; background: #eef1f8; }

/*------------------------------------------------------------

header

------------------------------------------------------------*/
.site-header {
	margin: 0;
	padding: 0;
	height: 250px;
	position: relative;
	top: 0;
	left: 0;
	background: url(../images/bg_space.jpg) 0 0 repeat;
	-webkit-animation: space 50s linear infinite;
	-moz-animation: space 50s linear infinite;

	* {
		text-decoration: none;
		position: relative;
		top: 0;
		left: 0;
		z-index: 1000;
	}

	h1 {
		margin: 0;
		padding: 40px 0 0;
		height: 162px;
		@include box-sizing(border-box);

		a {
			display: block;
			margin: 0 auto;
			padding: 0;
			width: 980px;
			font-family: LeinBold;
			font-size: 100px;
			color: #fff;
			text-decoration: none;
			-webkit-animation: anime1 4s linear 0s infinite alternate;
			-moz-animation: anime1 4s linear 0s infinite alternate;
			
			@media #{$small} {
				width: 100%;
				font-size: 50px;
				text-align: center;
			}
			@media #{$middle} {
				width: 100%;
				font-size: 80px;
				text-align: center;
			}
			@media #{$large} {
				width: 980px;
				font-size: 100px;
				text-align: left;
			}
	
			&:hover {
				-webkit-animation: anime2 0.5s linear 0s infinite alternate;
				-moz-animation: anime2 0.5s linear 0s infinite alternate;
			}
		}
	}
}
			
.global-nav {
	margin: 0 auto;
	padding: 0;
	width: 980px;
	text-align: right;
	
	@media #{$small} {
		width: 100%;
	}
	@media #{$middle} {
		width: 100%;
	}
	@media #{$large} {
		width: $large-size;
	}
	
	ul {
		display: inline-block;
		margin: 0;
		padding: 0;
		@include clearfix;
	}
	
	li {
		display: inline;
		margin: 0;
		padding: 0;
	}
	
	a {
		float: left;
		display: block;
		margin: 0;
		padding: 50px 15px 0;
		height: 88px;
		font-family: maagkramp;
		font-size: 20px;
		color: #fff;
		text-decoration: none;
		position: relative;
		top: 0;
		left: 0;
		@include box-sizing(border-box);
		@include transition(all 0.3s ease-in);
		@media #{$small} {
			padding: 50px 10px 0;
		}
		
		&:before {
			opacity: 0;
			visibility: hidden;
			content: "";
			margin: 0 0 0 -5px;
			padding: 0;
			position: absolute;
			bottom: 30px;
			left: 50%;
			border-top: 5px solid #fff;
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
			@include transition(all 0.2s ease-in);
		}
		
		&:hover {
			@include filter-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), vertical);
			@include background-image(
			linear-gradient(
			top,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 0.2) 50%,
			rgba(255, 255, 255, 0.5) 100%
			));
		}
	}
}

					
/*------------------------------------------------------------

.content

------------------------------------------------------------*/
.content {
	margin: 0 auto 40px;
	padding: 0;
	width: 980px;
	@include clearfix;
	
	@media #{$small} {
		width: 100%;
	}
	@media #{$middle} {
		width: 100%;
	}
	@media #{$large} {
		width: 980px;
	}
}
	
/* .breadcrumb
----------------------------------------*/
.breadcrumb {
	margin: 16px 0;
	padding: 0;
	
	li {
		display: inline-block;
		position: relative;
		top: 0;
		left: 0;
		
		@media #{$small} {
			display: block;
		}
		
		&:after {
			display: inline-block;
			content: "\002d";
			margin: 0 10px;
		
			@media #{$small} {
				display: none;
				content: "";
				margin: 0;
			}
		}
		
		&:first-child div a {
			padding-left: 20px;
			
			&:before {
				content: "\68\6f\6d\65";
				line-height: 20px;
				font-family: default-set;
				font-size: 16px;
			}
		}
		
		&:last-child:after {
			content: "";
			margin: 0;
			padding: 0;
			position: relative;
			top: 0;
			left: 0;
		}
		
		div a {
			
			@media #{$small} {
				padding-left: 20px;
			}
		}
	}
	
	div {
		display: inline;
	}
	
	span {
		line-height: 18px;
		color: #2c8799;
	}
}

/* .main-cont
----------------------------------------*/
.main-cont {
	float: left;
	margin: 0;
	padding: 0;
	width: 700px;

	@media #{$small} {
		float: none;
		width: 100%;
	}
	@media #{$middle} {
		float: none;
		width: 100%;
	}
	@media #{$large} {
		float: none;
		width: 700px;
	}
}
	
.entry-article {
	margin: 0 0 40px;
	padding: 20px;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	background: #fff;
	@include box-sizing(border-box);
	
	header {
		margin: 0 0 20px;
		padding: 0 0 8px;
		position: relative;
		top: 0;
		left: 0;
		@include box-sizing(border-box);
		
		&:before {
			content: "";
			margin: 0;
			padding: 0;
			width: 100%;
			height: 8px;
			position: absolute;
			bottom: 0;
			left: 0;
			background: url(../images/bg_bias.gif) 0 0 repeat;
		}
	}
		
	h2 {
		margin: 0 0 6px;
		padding: 0;
		font-size: 22px;
		color: #2c8799;
		
		a {
			margin: 0;
			padding: 0;
			line-height: 26px;
			font-size: 22px;
		}
	}
		
	time {
		display: block;
		margin: 0 0 5px;
		padding: 0;
		font-size: 12px;
		color: #999;
	}
	
	p {
		
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.entry-cont {
	margin: 0 0 20px;
	padding: 0 0 0 (180px + 20px);
	min-height: 180px;
	position: relative;
	top: 0;
	left: 0;
	
	figure {
		position: absolute;
		top: 0;
		left: 0;
		
		@media #{$small} {
			position: relative;
		}
		@media #{$middle} {
			position: relative;
		}
		@media #{$large} {
		}
	}
	
	@media #{$small} {
		padding-left: 0;
	}
	@media #{$middle} {
		padding-left: 0;
	}
	@media #{$large} {
	}
}
	
.category {
	margin: 0 0 10px;
	padding: 0;
	@include clearfix;
	
	dt {
		float: left;
		margin: 0;
		padding: 0;
		
		&:before {
			content: "\74\61\67";
			margin: 0 5px 0 0;
			font-family: default-set;
			position: relative;
			top: 1px;
		}
		
		&:after {
			content: "\00ff1a";
			margin: 0;
			padding: 0;
		}
	}
	
	dd {
		float: left;
		margin: 1px 0 0;
		padding: 0;
		
		&:after {
			content: "\002c";
			margin: 0;
			padding: 0;
		}
		
		&:last-child {
			
			&:after {
				content: "";
				margin: 0;
				padding: 0;
			}
		}
		
		a {
			margin: 0;
			padding: 0;
			line-height: 1;
		}
	}
}

.sns {
	margin: 0;
	padding: 0;
	min-height: 21px;
	background: #f7f9fa;
	
	li {
		display: inline-block;
		margin: 0;
		padding: 0;
		min-height: 21px;
		line-height: 21px;
		
		&:nth-child(1) {
			margin-right: 5;
		}
		
		&:nth-child(2) {
			margin-right: 25px;
		}
		
		&:nth-child(3) {
			margin-right: 0;
		}
		
		&:before,
		&:after {
			content: "";
			position: relative;
			top: 0;
			left: 0;
			border: none;
			background: none;
		}
	}
}

iframe.twitter-share-button {
	width: 105px!important;
}
		
/* .side-cont
----------------------------------------*/
.side-cont {
	float: right;
	margin: 0;
	padding: 0;
	width: 260px;

	@media #{$small} {
		float: none;
		width: 100%;
	}
	@media #{$middle} {
		float: none;
		width: 100%;
	}
	@media #{$large} {
		width: 260px;
	}
}
		
.search {
	margin: 0 0 20px;
	padding: 0 0 0 1px;
	width: 260px;
	height: 48px;
	position: relative;
	top: 0;
	left: 0;
	@include border-radius(25px);
	border: 8px solid #d0dbe4;
	background: #ecf1f4;
	@include box-shadow(0 0 0 1px #b5c9d4 inset, 2px 2px 3px 0 rgba(0, 0, 0, 0.2) inset);
	@include box-sizing(border-box);
	
	@media #{$small} {
		margin-top: 20px;
		width: 100%;
	}
	@media #{$middle} {
		margin-top: 20px;
		width: 100%;
	}
	@media #{$large} {
	}
	
	input[type=text] {
		margin: 0;
		padding: 1px 35px 0 10px;
		width: 100%;
		height: 30px;
		line-height: 30px;
		position: relative;
		top: 1px;
		left: 0;
		@include border-radius(25px);
		background: none;
		@include box-sizing(border-box);
		
		&:focus {
			background: #fff;
			@include box-shadow(2px 2px 3px 0 rgba(0, 0, 0, 0.2) inset);
		}
	}
	
	input[type=image] {
		margin: 0;
		padding: 0;
		width: 15px;
		height: 18px;
		position: absolute;
		top: 8px;
		right: 11px;
	}
}

.side-nav {
	margin: 0;
	padding: 0;
	
	section {
		margin: 0 0 40px;
		padding: 0;
		
		h2 {
			margin: 0 0 10px;
			padding: 0 0 10px;
			color: #2c8799;
			font-family: bebas;
			font-size: 20px;
			border-bottom: 1px solid #aaa;
		}
		
		&:nth-of-type(1) {
			
			ul {
				margin: 0;
				padding: 0;
			}
				
			li {
				margin: 0;
				padding: 0;
			}
			
			a {
				display: block;
				margin: 0 0 3px;
				padding: 5px 10px;
				line-height: 19px;
				font-size: 12px;
				text-decoration: none;
				background: #ebe4de;
				
				&:hover {
					color: #fff;
					background: #2c8799;
				}
			}
			
			&:nth-of-type(2),
			&:nth-of-type(3) {
				
				ul {
					margin: 0;
					padding: 0 0 0 10px;
				}
							
				li {
					margin: 0;
					padding: 0;
				}
				
				a {
					margin: 0;
					padding: 0;
					line-height: 19px;
					font-size: 12px;
				}
			}
		}
	}
}

/*------------------------------------------------------------

footer

------------------------------------------------------------*/
.site-footer {
	margin: 0;
	padding: 0;
	background: #000;
	@include box-sizing(border-box);
}
	
.footer-nav {
	margin: 0 auto;
	padding: 75px 0;
	width: 980px;
	text-align: center;
	
	@media #{$small} {
		padding: 10px 0;
		width: 100%;
	}
	@media #{$middle} {
		padding: 20px 0;
		width: 100%;
	}
	@media #{$large} {
		padding: 75px 0;
		width: 980px;
	}
	
	ul {
		display: inline;
		margin: 0;
		padding: 0;
	}
	
	li {
		display: inline-block;
		margin: 0 20px 0 0;
		padding: 0;

		@media #{$small} {
			display: block;
			margin: 0;
			margin-bottom: 10px;
			padding: 0;
			width: 100%;
			text-align: center;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
		@media #{$middle} {
			display: block;
			margin: 0;
			margin-bottom: 10px;
			padding: 0;
			width: 100%;
			text-align: center;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
		@media #{$large} {
		}
	}
	
	a {
		color: #fff;
		margin: 0;
		padding: 0;
		font-family: maagkramp;
		font-size: 20px;
		color: #fff;
		text-decoration: none;
		
		&:hover {
			color: #2c8799;
		}
	}
}

.copyright {
	margin: 0;
	padding: 0;
	text-align: center;
	
	small {
		margin: 0;
		padding: 0;
		color: #fff;
	}
}
		
/*----------------------------------------------------------------------------------------------------


.page-nation


----------------------------------------------------------------------------------------------------*/
.page-nation {
	margin: 0;
	padding: 0;
	@include clearfix;
	
	ul {
		float: right;
		margin: 0 0 10px;
		padding: 0;
		@include clearfix;
	
		> li {
			float: left;
			margin: 0 5px 0 0;
			padding: 0;
			font-family: Myriad-bold;
			
			&:last-child {
				margin-right: 0;
			}
		}
	
		a {
			font-family: Myriad-bold;
		}
	}
	
	&:last-child ul {
		margin-bottom: 0;
	}
	
	.page-number {
		margin-right: 0;
	}
	
	.total-count {
		padding: 0 5px;
		height: 24px;
		line-height: 24px;
		text-align: center;
	}
	
	.prev-off,
	.next-off {
		float: left;
		width: 46px;
		height: 20px;
		line-height: 20px;
		color: #ddd;
		border: 2px solid #ddd;
		background: #fff;
	}
	
	.prev-off {
		padding-left: 10px;
		width: 36px;
		text-align: center;
		position: relative;
		top: 0;
		left: 0;
		
		&:before {
			content: "";
			margin: -8px 0 0;
			padding: 0;
			width: 6px;
			height: 14px;
			position: absolute;
			top: 50%;
			left: 1px;
			@include border-radius(1px);
			border: 1px solid #ddd;
			background: #f1f1f1;
		}
		
		&:after {
			content: "";
			margin: -3px 0 0;
			padding: 0;
			position: absolute;
			top: 50%;
			left: 3px;
			border-top: 3px solid transparent;
			border-right: 3px solid #fff;
			border-bottom: 3px solid transparent;
		}
	}
	
	.next-off {
		padding-right: 10px;
		width: 36px;
		text-align: center;
		position: relative;
		top: 0;
		left: 0;
		
		&:before {
			content: "";
			margin: -8px 0 0;
			padding: 0;
			width: 6px;
			height: 14px;
			position: absolute;
			top: 50%;
			right: 1px;
			@include border-radius(1px);
			border: 1px solid #ddd;
			background: #f1f1f1;
		}
		
		&:after {
			content: "";
			margin: -3px 0 0;
			padding: 0;
			position: absolute;
			top: 50%;
			right: 3px;
			border-top: 3px solid transparent;
			border-bottom: 3px solid transparent;
			border-left: 3px solid #fff;
		}
	}
	
	.prev-on,
	.next-on {
		display: inline;
		margin: 0;
		padding: 0;
		
		a {
			display: block;
			float: left;
			margin: 0 5px 0 0;
			padding: 0;
			width: 36px;
			height: 20px;
			line-height: 20px;
			color: #000;
			text-decoration: none;
			text-align: center;
			position: relative;
			top: 0;
			left: 0;
			border: 2px solid #ccc;
			background: #fff;
			
			&:before {
				content: "";
				margin: -8px 0 0;
				padding: 0;
				width: 6px;
				height: 14px;
				position: absolute;
				top: 50%;
				left: 1px;
				@include border-radius(1px);
				border: 1px solid #aaa;
				background: #d1d1d1;
			}
			
			&:hover {
				color: #fff;
				border: 2px solid #3079ed;
				@include filter-gradient(#4d90fe, #4787ed, vertical);
				@include background-image(
				linear-gradient(
				top,
				#4d90fe 0%,
				#4787ed 100%
				));
			
				&:before {
					border: 1px solid #147aad;
					@include filter-gradient(#69cdff, #197fb2, vertical);
					@include background-image(
					linear-gradient(
					top,
					#69cdff 0%,
					#3da3d6 50%,
					#197fb2 100%
					));
				}
			}
			
			&:after {
				content: "";
				margin: -3px 0 0;
				padding: 0;
				position: absolute;
				top: 50%;
				left: 3px;
				border-top: 3px solid transparent;
				border-right: 3px solid #fff;
				border-bottom: 3px solid transparent;
			}
		}
	}
	
	.prev-on {
		
		a {
			padding-left: 10px;
		}
	}
	
	.next-on {
		
		a {
			margin-right: 0;
			padding-right: 10px;
			
			&:before {
				right: 1px;
			}
			
			&:after {
				right: 3px;
				border-top: 3px solid transparent;
				border-bottom: 3px solid transparent;
				border-left: 3px solid #fff;
			}
		}
	}
	
	ol {
		float: left;
		margin: 0;
		padding: 0;
		
		> li {
			display: inline;
			margin: 0;
			padding: 0;
			
			a {
				display: block;
				float: left;
				margin: 0 5px 0 0;
				padding: 0 7px;
				height: 20px;
				line-height: 20px;
				text-align: center;
				text-decoration: none;
				color: #000;
				border: 2px solid #ccc;
				background: #fff;
				
				&:hover {
					color: #fff;
					border: 2px solid #3079ed;
					@include filter-gradient(#4d90fe, #4787ed, vertical);
					@include background-image(
					linear-gradient(
					top,
					#4d90fe 0%,
					#4787ed 100%
					));
				}
			}
		}
	}
	
	.this-page {
		display: block;
		float: left;
		margin: 0 5px 0 0;
		padding: 0 7px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		color: #fff;
		border: 2px solid #3079ed;
		background: #4b8df9;
	}
}
	
			
			
				
		
/*----------------------------------------------------------------------------------------------------


index.php


----------------------------------------------------------------------------------------------------*/
/*
#top {
	
	.main-cont {
		
		.entry-article {
			margin-bottom: 20px;
			height: 280px;
			padding-left: 220px;
			
			&:last-child {
				margin-bottom: 0;
			}
			
			header {
				margin-bottom: 5px;
				
				&:before {
					width: 460px;
				}
			}
		}
	}
}

#top,
#entry {
	
	.main-cont {
		
		.entry-article {
			
			> header {
				
				time {
					display: inline-block;
					margin-right: 10px;
				}

				p {
					display: inline-block;
					margin: 0;
					padding: 0;
					height: 19px;
					line-height: 19px;
					color: #999;
					font-size: 12px;
				}
			}

			> figure {
				margin: 0;
				padding: 0;
				width: 180px;
				height: 180px;
				position: absolute;
				top: 20px;
				left: 20px;
			}
		}
	}
}
*/
	
/*----------------------------------------------------------------------------------------------------


entry


----------------------------------------------------------------------------------------------------*/
#article-intro {
	margin: 0 0 26px;
	padding: 0;
	@include clearfix;
	
	figure {
		float: left;
		margin: 0 20px 15px 0;
		padding: 0;
		width: 180px;
		height: 180px;
	}
}
	
#entry {
	
	.main-cont {
		
		article {
			
			> p {
				margin-bottom: 28px;
			}
		}
		
		> section {
			margin: 0 0 40px;
			padding: 0;
			
			> h2 {
				margin: 0 0 10px;
				padding: 0 0 10px;
				color: #2c8799;
				font-family: bebas;
				font-size: 20px;
				border-bottom: 1px solid #aaa;
			}
		}
	}
}

#related-articles {
	margin: 0;
	padding: 0 0 0 10px;
	
	li {
		margin: 0;
		padding: 0;
		
		&:before {
			content: "\63\6c\69\70";
			margin: 0 5px 0 0;
			font-family: default-set;
		}
		
		a {
			margin: 0;
			padding: 0;
			line-height: 27px;
		}
	}
}

.comment-article {
	margin: 0 0 20px;
	padding-left: 100px;
	
	@media #{$small} {
		padding-right: 10px;
		padding-left: 110px;
	}
	@media #{$middle} {
		padding-right: 10px;
		padding-left: 110px;
	}
	@media #{$large} {
	}
}

.comment-wrap {
	padding: 20px;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	background: #fff;
	@include box-sizing(border-box);
	
	&:before {
		content: "";
		margin: 0;
		padding: 0;
		position: absolute;
		top: 10px;
		left: -14px;
		border-top: 10px solid #fff;
		border-right: 7.5px solid #fff;
		border-bottom: 10px solid transparent;
		border-left: 7.5px solid transparent;
	}
}

.comment-header {
	margin: 0;
	padding: 0;
	
	h3 {
		margin: 0 0 5px;
		padding: 0;
		font-size: 14px;
		font-weight: bold;
		color: #4695a6;
	}
	
	figure {
		margin: 0;
		padding: 0;
		width: 60px;
		height: 60px;
		position: absolute;
		top: 0;
		left: -100px;
		border: 5px solid #d0dbe4;
		
		@media #{$small} {
		}
		@media #{$middle} {
		}
		@media #{$large} {
		}
	}
}
	
	p {
		line-height: 22px;
		font-size: 12px;
	}
	
	footer {
		margin: 0;
		padding: 0;
		
		ul {
			margin: 0;
			padding: 0;
			@include clearfix;
		}
			
		li {
			float: left;
			margin: 0 21px 0 0;
			padding: 0;
			height: 13px;
			line-height: 13px;
			font-size: 12px;
			color: #aaa;
			position: relative;
			top: 0;
			left: 0;
			
			&:before {
				content: "";
				margin: 0;
				padding: 0;
				width: 1px;
				height: 11px;
				position: absolute;
				top: 1px;
				right: -11px;
				background: #d7d7d7;
			}
			
			&:last-child:before {
				content: "";
				margin: 0;
				padding: 0;
				width: auto;
				height: auto;
				position: relative;
				top: 0;
				left: 0;
				background: none;
			}
		}
		
		a {
			margin: 0;
			padding: 0;
			height: 13px;
			line-height: 13px;
			font-size: 12px;
		}
		
		form {
			margin: 0;
			padding: 0;
		}
		
		input[type=submit] {
			cursor: pointer;
			display: inline-block;
			margin: 0;
			padding: 0;
			color: #2c8799;
			font-size: 11px;
			background: none;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
.reply-article {
	margin: 20px 0 0;
	padding: 0 0 0 90px;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	@include box-sizing(border-box);
	
	@media #{$small} {
		width: 100%;
	}
	@media #{$middle} {
		width: 100%;
	}
	@media #{$large} {
		width: 470px;
	}
}

.reply-wrap {
		
	h4 {
		margin: 0 0 5px;
		padding: 0;
		font-size: 14px;
		font-weight: bold;
		color: #4695a6;
	}

	figure {
		margin: 0;
		padding: 0;
		width: 60px;
		height: 60px;
		position: absolute;
		top: 0;
		left: 0;
		border: 5px solid #d0dbe4;
	}
}
	
.reply-header {
	margin: 0;
	padding: 0;
}

.reply-body {
	margin: 0;
	padding: 0;
}

#comment-form {
	margin: 0;
	padding: 20px;
	background: #fff;
	@include clearfix;
	
	dl {
		margin: 0;
		padding: 0;
		@include clearfix;
	
		input {
			margin: 0;
			padding: 1px 3px;
			width: 300px;
			line-height: 1;
			border: 1px solid #aaa;
			@include box-sizing(border-box);
		}
		
		textarea {
			overflow-y: scroll;
			margin: 0;
			padding: 3px;
			width: 420px;
			height: 150px;
			line-height: 19px;
			resize: none;
			border: 1px solid #aaa;
			@include box-sizing(border-box);
		}
		
		input,
		textarea {
			
			&:focus {
				border: 1px solid #2c8799;
				@include box-shadow(0 0 3px 0 #2c8799);
			}
		}
	}
	
	dt {
		clear: both;
		float: left;
		margin: 0 0 20px;
		padding: 0;
		width: 220px;
		height: 24px;
		line-height: 24px;
	}
	
	dd {
		float: right;
		margin: 0 0 20px;
		padding: 0;
		width: 420px;
		height: 24px;
		
		&:nth-of-type(4),
		&:nth-of-type(5) {
			height: auto;
		}
		
		&:nth-of-type(7) img {
			margin: 0 0 5px;
			padding: 0;
		}
	}
	
	.error-txt {
		position: relative;
		top: 0;
		left: 0;
		
		&:before {
			display: inline-block;
			content: "\00203b\005165\00529b\005185\005bb9\00304c\004e00\0081f4\003057\00307e\00305b\003093\003067\003057\00305f";
			margin: 0;
			padding: 3px;
			color: #fff;
			font-size: 14px;
			font-weight: bold;
			position: absolute;
			bottom: -20px;
			left: 0;
			background: #900;
		}
		
		input {
			border: 1px solid #900;
		}
	}
	
	ul {
		margin: 0;
		padding: 0;
		@include clearfix;
		
		li {
			float: left;
			margin: 0 17px 0 0;
			padding: 0;
			width: 70px;
			
			&:last-child {
				margin-right: 0;
			}
		}
		
		label {
			display: block;
			margin: 0 0 5px;
			padding: 0;
			width: 70px;
			height: 70px;
			border: 5px solid #d0dbe4;
			@include box-sizing(border-box);
			
			&:hover {
				border: 5px solid #9ab0c1;
			}
		}
		
		input {
			margin: 0;
			padding: 0;
			width: 70px;
			height: auto;
			position: relative;
			top: 0;
			left: 0;
		}
	}
	
	p {
		margin: 0;
		padding: 0;
		text-align: right;
		
		input[type=submit] {
			cursor: pointer;
			display: inline-block;
			margin: 0;
			padding: 3px 5px;
			height: 30px;
			color: #fff;
			@include border-radius(3px);
			border: 1px solid #69c;
			background: #69c;
			@include box-sizing(border-box);
			
			&:hover {
				background: #79acdf;
				@include box-shadow(0 0 3px #fff inset);
			}
			
			&:active {
				padding-top: 4px;
				padding-bottom: 2px;
				color: #e0ebf5;
				border: 1px solid #334c66;
				background: #69c;
				@include box-shadow(0 0 2px #3a6da0 inset);
			}
		}
	}
}

/*----------------------------------------------------------------------------------------------------


about


----------------------------------------------------------------------------------------------------*/
#about {
	
	#main-cont {
		
		> section {
			margin: 0 0 20px;
			padding: 20px;
			background: #fff;
			@include clearfix;
			
			> h2 {
				margin: 0 0 20px;
				padding: 0 0 20px;
				font-size: 22px;
				color: #2c8799;
				position: relative;
				top: 0;
				left: 0;
				
				&:before {
					content: "";
					margin: 0;
					padding: 0;
					width: 660px;
					height: 8px;
					position: absolute;
					bottom: 0;
					left: 0;
					background: url(../images/bg_bias.gif) 0 0 repeat;
				}
			}
			
			> p {
				
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}